{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded p-4 m-4">
            <h3 class="alert alert-light border rounded pt-4 text-center">Login Here</h3>
            
            <form action="/login" method="POST">
                {% csrf_token %}


                {% comment %} If there is any error than show that here  {% endcomment %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
               
                {% comment %} email {% endcomment %}
                <div class="form-group pt-4">
                  <label for="">Email</label>
                  <input type="email" name="email" value="{{values.email}}" id="" class="form-control" placeholder="exmpal@gmail.com">
                </div>

                {% comment %} password {% endcomment %}
                <div class="form-group pt-4">
                    <label for="">password</label>
                    <input type="password" name="password" id="" class="form-control">
                </div>
                
                {% comment %} Button {% endcomment %}
                <div class="form-group pt-4">
                    <input class="btn btn-success col-lg-4" type="submit" value="Login"></input>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock  %}